.about-section {
    min-height: 500px;
    width: 100%;
    background: #fff url('../images/arkady.jpg');
    background-size: cover;
    background-position: right;

    .section-title {
        padding: $grid-gutter-width 0 100px 0;
    }

    h3 {
        font-weight: 100;
        color: $primary-color;
    }

    .section-content, .section-title {
        width: 500px;
    }
}
