.about-section {
    min-height: 500px;
    width: 100%;
    background: #fff url('../images/arkady.jpg');
    background-position: 75% center;
    background-repeat-y: no-repeat;

    @media #{$media-desktop} {
        background-size: cover;

    }

    .section-title {
        padding: $grid-gutter-width 0;
    }

    h3 {
        font-weight: 100;
        color: $primary-color;
    }

    .section-content, .section-title {
        width: 500px;

        @media #{$media-mobile} {
            width: 75%;
        }
    }
}
