body {
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 $grid-gutter-width / 2;
    width: 100%;

    @media #{$media-desktop} {
        width: $grid-container-width;
    }
}

.page-wrapper {
    z-index: 2;
    position: relative;
    margin-top: -100px;
    padding: $grid-gutter-width / 2;
    background-color: $primary-light-color;
    border: 1px solid #221D1D;

    .page-intro {
        text-align: center;
        width: 80%;
        margin: $grid-gutter-width auto;
        font-family: $title-font-family;
        font-weight: 100;
        font-size: 22px;

        & + hr {
            border: 1px solid #221D1D;
            margin: $grid-gutter-width 0;
        }
    }
}
