.header {
    position: relative;

    > img {
        max-width: 100%;
    }

    @media #{$media-desktop} {
        > img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }
}

.header-fp {
    display: flex;
    width: 100vw;

    @media #{$media-mobile} {
        margin-top: $nav-height;
    }

    @media #{$media-desktop} {
        z-index: 11;
        min-height: 100vh;
        height: auto;
    }

    > img {
        @media #{$media-mobile} {
            position: absolute;
        }
    }

    h1 {
        @media #{$media-mobile} {
            width: 80%;
            margin: 0 auto;
        }
    }

    .header-content {
        position: relative;
        margin: 50px 0;
        color: white;
        z-index: 2;
        width: 100%;

        @media #{$media-desktop} {
            left: 10%;
            width: auto;
        }

        h1 {
            padding-bottom: $grid-gutter-width / 3;
            border-bottom: 1px solid white;
        }
    }
}

.header-sequel {
    width: 100%;
    align-items: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .header-content {
        z-index: 2;
        text-shadow: -1px 2px 4px black;

        @media #{$media-desktop} {
            position: relative;
        }

        @media #{$media-mobile} {
            position: absolute;
        }
    }

    @media #{$media-desktop} {
        height: 400px;
    }

    @media #{$media-mobile} {
        margin-top: $nav-height;
        height: auto;
    }
}

.header-logo {
    background: url('../images/logo.png');
    width: 70px;
    height: 70px;
    margin: 0 auto;

    @media #{$media-retina} {
        background: url('../images/logo.x2.png');
        background-size: 100%;
    }
}
