#menu-header-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    // margin-top: 50px;

    li {
        // margin: $grid-gutter-width / 2 0;
    }

    li a {
        font-weight: 100;
        font-size: 18px;
        font-family: $title-font-family;
        text-decoration: none;
        color: white;
        transition: all 0.2s ease-in;

        // &:hover {
        //     color: $secondary-color;
        // }
    }
}

.nav {
    position: fixed;
    height: $nav-height;
    background-color: $primary-light-color;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: 1px solid #221d1d;
    padding: 0;


    .container {
        padding: 0;
    }

    .header-logo {
        display: inline-block;
        float: left;
        width: 70px;
        height: 70px;
        margin-top: 10px;
    }

    .menu-header-nav-container {
        float: right;

        li {
            display: inline-block;

            &:hover a {
                background: $secondary-color;
            }

            a {
                display: block;
                line-height: $nav-height;
                padding: 0 20px;
            }
        }
    }
}
